/*-------------FONT FOR ALL---------------------*/
* {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

/*-------------BODY---------------------*/
body {
    margin: 0;
    padding: 0;
}


/*-------------BACKGROUND VIDEO---------------------*/
.back-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}

/*-------------MENU---------------------*/
.logo {
    width: 60px;
    border-radius: 30%;
    margin-left: 50px;
    margin-top: 10px;
    left: 0;
    top: 0;
    position: absolute;
}


.navmenu {
    display: flex;
    justify-content: center;
    align-items: center;
}


.navmenu ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}


.navmenu ul li {
    font-size: 1.1rem;
    font-weight: bold;

}


.navmenu ul li a {
    color: white;
    padding: 10px 50px;
    transition: all .5s ease;
    cursor: pointer;
}


.navmenu ul li a:hover {
    color: black;
    box-shadow: 0 0 10x white;
    cursor: pointer;
}


.navmenu ul li a.current {
    cursor: pointer;
    color: #222222;
    background-color: rgba(77, 205, 236, 0.4)
}


/*-------------BOX FOR INDEX---------------------*/
.boxforindex {
    width: 500px;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 7%;
    
}


.box-img {
    border-radius: 50px;
    width: 200px;
    height: 200px;
    border-color: #00f7ff;
    border-style: solid;
}


.boxforindex h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: bold;
    color: #00f7ff;
    transition: 0.5s;
}

.boxforindex h2 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    color: #fff;
    transition: 0.5s;
}

.boxforindex h1:hover {
    -webkit-text-stroke: 0px #00f7ff;
    color: transparent;
}

.boxforindex h2:hover {
    -webkit-text-stroke: 0px #fff;
    color: transparent;
}



/*-------------BOX FOR ABOUT---------------------*/
.box {
    width: 900px;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 7%;
    color: white;
}


    .box h1 {
        font-size: 30px;
        letter-spacing: 4px;
        font-weight: 100;
    }


        .box h5 {
            font-size: 20px;
            letter-spacing: 3px;
            font-weight: 100;
        }

        /*---------------------PARAGRAPH----------------*/

        .box p {
            text-align: justify;
            letter-spacing: .2em;
            line-height: 2;
        }


/*---------------------about----------------*/
.aboutme {
    position: relative;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    color: white;
    text-align: center;
    top: 10px;
}


/*-------------BUTTON FOR ABOUT ME VIDEO---------------------*/

.button{
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    letter-spacing: .2em;
    color: #D9D9D9;
    border: 1px solid #fff;
    padding: 17px 24px;
    position: relative;
    background: transparent;
    cursor: pointer;
    top: 45%;
    left: 45%;
  
}

.button:hover{
    border: 1px solid #ffffff;
    background: rgba(77, 205, 236, 0.4);
    transition: 1s;
    box-shadow: 0 0 10px rgba(77, 205, 236, 0.4);
}



/*---------------------SKILLS OR EXPERIENCE----------------*/

.box table {
    width: 100%;
    margin: auto;
    vertical-align: top;
    border-collapse: collapse;
}


.box table td, .box table th {
    vertical-align: top;
    text-align: left;
    padding: 10px 40px;
}


.box table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.4);
}



/*---------------------2ND BOX FOR EDUCATIONS----------------*/
.box2 {
    width: 1000px;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 7%;
    color: white;
}


.box2 h2 {
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 100;
}


.box2 table {
    width: 100%;
    margin: auto;
    vertical-align: top;
    border-collapse: collapse;
}


.box2 table td, .box2 table th {
    vertical-align: top;
    text-align: left;
    padding: 10px 40px;
}


.box2 table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.4);
}


/*-------------------CONTACT INFO----------------------------*/
.info {
    margin: auto; /*This is to center the element*/
    padding-top: 10px;
    padding-bottom: 20px;
    width: 1000px;
    max-width: 100%;
    border-bottom: 1px dotted wheat;
}


.info li {
    display: inline-block;
    width: 100%;
    text-align: center;
}


/*---------------------SOCIAL MEDIA LINKS----------------*/

ul {
    margin: 0;
    padding: 0;
}


.box li {
    display: inline-block;
    margin: 6px;
    list-style: none;
}


.box li a {
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}


.box li a:hover {
    color: #b9b9b9;
}


/*-------------------CONTAINER FOR CONTACTS----------------------------*/

.container {
    width: 900px;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 3%;
    color: white;
}

.container #contact {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: white;
    padding: 15px;
}

.container .form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20x 0px;
}

.container .input {
    padding: 12px;
    margin: 15px;
    width: 300px;
    border: none;
    outline: none;
}

.container #msg {
    width: 300px;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}

.container #send {
    padding: 10px;
    width: 10%;
    margin: 40px;
    border: none;
    outline: none;
    border: 1px solid #fff;
    color: white;
    background: transparent;
}

.container #send:hover {
    cursor: pointer;
    border: 1px solid #ffffff;
    background: rgba(77, 205, 236, 0.4);
    transition: 1s;
    box-shadow: 0 0 10px rgba(77, 205, 236, 0.4);
}


