
html {
    scroll-behavior: smooth;
}


* {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

/*-------------BODY---------------------*/
body {
    margin: 0;
    padding: 0;
}


/*-------------BACKGROUND VIDEO---------------------*/
.back-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

/*-------------BUTTON FOR ABOUT ME VIDEO---------------------*/

.button{
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    letter-spacing: .2em;
    color: #D9D9D9;
    border: 1px solid #fff;
    padding: 17px 24px;
    position: relative;
    background: transparent;
    cursor: pointer;
    top: 45%;
    left: 45%;
  
}

.button:hover{
    border: 1px solid #ffffff;
    background: rgba(77, 205, 236, 0.4);
    transition: 1s;
}


/*---------------------about----------------*/

.aboutme {
    position: relative;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    color: white;
    text-align: center;
    top: 10px;
}

/*-------------MENU---------------------*/
.menu nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 100;
    display: flex;
    align-items: right;
    justify-content: space-between;
    background: rgba(77, 205, 236, 0.4);
}

.logo {
    width: 60px;
    border-radius: 30%;
    margin-left: 30px;
    position: absolute;
}

.menu nav ul {
    margin: auto;
    max-width: 100%;
}

.menu nav ul li {
    display: inline-block;
    flex: 1;
    position: relative;
}

.menu nav ul li a {
    display: inline-block;
    padding: 15px 30px 15px 55px;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
}

.menu nav ul li a:hover {
    font-weight: 100;
    color: #222222;
}

.menu nav ul li a.current {
    color: #222222;
    background-color: #ffffff;
}


/*-------------BOX FOR INDEX---------------------*/
.boxforindex {
    width: 500px;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 7%;
    color: white;
}

.box-img {
    border-radius: 50px;
    width: 200px;
    height: 200px;
    border-color: #00f7ff;
    border-style: solid;
}

.boxforindex h1 {
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 100;
}

.boxforindex h5 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}

/*-------------BOX---------------------*/
.box {
    width: 900px;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 7%;
    color: white;
}

.box h1 {
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}

/*---------------------PARAGRAPH----------------*/

.box p {
    text-align: justify;
    letter-spacing: .2em;
    line-height: 2;
}

/*---------------------SOCIAL MEDIA LINKS----------------*/

ul {
    margin: 0;
    padding: 0;
}

.box li {
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box li a {
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}

.box li a:hover {
    color: #b9b9b9;
}

/*---------------------FONT FOR WEBSITE----------------*/

.font h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: bold;
    color: #00f7ff;
}

.font h2 {
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: normal;
}


/*---------------------SKILLS----------------*/

.box table {
    width: 100%;
    margin: auto;
    vertical-align: top;
    border-collapse: collapse;
}

.box table td, .box table th {
    vertical-align: top;
    text-align: left;
    padding: 10px 40px;
}

.box table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.4);
}



/*---------------------2ND BOX FOR EDUCATIONS----------------*/

.box2 {
    width: 1000px;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 7%;
    color: white;
}

.box2 h2 {
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box2 table {
    width: 100%;
    margin: auto;
    vertical-align: top;
    border-collapse: collapse;
}

.box2 table td, .box2 table th {
    vertical-align: top;
    text-align: left;
    padding: 10px 40px;
}

.box2 table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.4);
}


/*-------------------CONTACT INFO----------------------------*/


.info {
    margin: auto; /*This is to center the element*/
    padding-top: 10px;
    padding-bottom: 20px;
    width: 1000px;
    max-width: 100%;
    border-bottom: 1px dotted wheat;
}

.info li {
    display: inline-block;
    width: 100%;
    text-align: center;
}